<h3>Hi <%= @user.first_name %> <%= @user.last_name %></h3>

<br>

<h2>My tickets: </h2>
<% @valid_tickets.each do |ticket| %>
  <% event = ticket.event %>
  <p>Venue: <%= event.venue %></p>
  <p>Cuisine: <%= event.cuisine %></p>
  <p>Price per person: <%= event.price %></p>
  <p><%= ticket.start_time.hour %>:<%= ticket.start_time.min %> - <%= ticket.end_time.hour %>:<%= ticket.end_time.min %> , <%= event.date %></p>
  <p>Guests: <%= ticket.guests %></p>
  <p>This event takes place in <%= distance_of_time_in_words(event.date.to_time - Time.now) %></p>
  <%= link_to "Cancel ticket", ticket_path(ticket),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>


<%# I sort the events that the user hosts %>
<h2>My events: </h2>
<% @upcoming_events.each do |event| %>
  <p>Venue: <%= event.venue %></p>
  <p>Capacity: <%= event.capacity %></p>
  <p>Date: <%= event.date %></p>
  <p>This event takes place in <%= distance_of_time_in_words(event.date.to_time - Time.now) %></p>
  <%= link_to "More info", event_path(event) %><br>
  <%= link_to "Edit event", edit_event_path(event) %><br>
  <%= link_to "Cancel event", event_path(event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
