<div class="index-body">

  <div class="header-div-one-profile">
    <div class="ticket-header-profile"><strong>My Events</strong></div>
    <div class="event-button-profile">
      <button class="profile-button"><%= link_to "Add Event", new_event_path %></button>
    </div>
  </div>


   <div class="profile-row ">
    <% if @upcoming_events.length == 0 %>
      <p style="color: grey; font-family: Poppins; font-weight: 250; font-size: 40px;">No events yet . . . </p>
    <% end %>
    <% @upcoming_events.each do |event| %>
      <div class="card col-2 mx-3 p-4 rounded">
          <%= link_to event_path(event) do %>
            <%= cl_image_tag event.photos.first.key, class: "card-image" %>

            <div class="ven-details d-flex justify-content-between">
              <p class="venue"><i class="fa-solid fa-location-pin"></i> <%= event.venue %></p>
              <p class="price"><i class="fa-solid fa-sterling-sign"></i> <%= event.price.to_i %></p>
            </div>
            <p class="cuisine"><i class="fa-solid fa-utensils"></i> <%= event.cuisine %></p>
            <div class="edit-actions d-flex justify-content-end">
                <p class="date" style="width: 253px;"><i class="fa-solid fa-calendar-days"></i> <%= event.date %></p>
                <%= link_to edit_event_path(event) do %>
                <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to event_path(event),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                  <%end%>
            </div>
          <% end%>

    </div>
    <% end %>
  </div>




  <div class="header-div-two-profile">
    <div class="event-header-profile"><strong>My Tickets</strong></div>
  </div>

  <div class="profile-row">
    <% if @upcoming_events.length == 0 %>
      <p style="color: grey; font-family: Poppins; font-weight: 250; font-size: 40px;">No events yet . . . </p>
    <% end %>
      <% @valid_tickets.each do |ticket| %>
        <div class ="card col-2 mx-3 p-4 rounded">

              <% event = ticket.event %>
              <%= link_to event_path(event) do %>
                <%= cl_image_tag event.photos.first.key, class: "card-image" %>


                  <div class="d-flex justify-content-between">
                    <p class="chef"><iconify-icon icon="mdi:chef-hat" ></iconify-icon> <%= event.user.first_name %> <%= event.user.last_name %></p>
                    <p class="price" id="ticket-price"><i class="fa-solid fa-sterling-sign"></i> <%= event.price.to_i %></p>
                  </div>
                  <p class="venue"><i class="fa-solid fa-location-pin"></i> <%= event.venue %></p>
                  <p class="cuisine"><i class="fa-solid fa-utensils"></i> <%= event.cuisine %></p>
                    <div class="edit-actions d-flex justify-content-end">
                      <p class="date" style="width: 253px;"><i class="fa-solid fa-calendar-days"></i> <%= event.date %></p>
                      <%= link_to edit_event_path(event) do %>
                      <i class="fa-solid fa-pen-to-square"></i>
                      <% end %>
                      <%= link_to event_path(event),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-solid fa-trash"></i>
                        <%end%>
                    </div>
                    <% end%>
        </div>
      <% end %>
    </div>

</div>
