<div class="index-body">
  <div class="header-container">
    <h1 class="index-header my-4"><strong>Upcoming Events</strong></h1>
    <%= image_tag 'index-image', alt: "index-image", class: "index-main-img"%>
  </div>
    <div class="container-fluid mx-5">
    <div class="row gy-4">
      <% @events.each do |event| %>
        <div class ="card col-2 mx-2 p-4 rounded">
          <div class="index">
            <h5><strong>🧑‍🍳 <%= event.user.first_name %> <%= event.user.last_name %></strong></h5>
            <p><i class="fa-solid fa-location-pin"></i> <%= event.venue %></p>
            <p><i class="fa-solid fa-utensils"></i> <%= event.cuisine %></p>
            <p><i class="fa-solid fa-calendar-days"></i> <%= event.date %></p>
            <p><i class="fa-solid fa-sterling-sign"></i> <%= event.price %></p>
            <%= link_to "", event_path(event), class: 'stretched-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
