<h1>Index page</h1>

<% @events.each do |event| %>
<div class="my-5">
<h5><strong><%= event.venue %></strong></h5>
<p><%= event.menu %></p>
<p><%= event.cuisine %></p>
<p><%= event.price %></p>
<p><%= event.description %></p>
<p><%= event.capacity %></p>
<p><%= event.date %></p>
<%= link_to "Show this event!", event_path(event)%>
</div>
<% end %>
